.forecastContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

.dayContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
  align-items: start;
}

.dayHeader {
  font-weight: bold;
  font-size: 1.25rem;
  color: #007bff;
  grid-column: span 2;
  margin-bottom: 1rem;
}

.dayForecast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.forecastItem {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
  }

  p {
    margin: 0.5rem 0;
  }

  p:first-child {
    font-weight: bold;
    color: #007bff;
  }

  p:last-child {
    font-style: italic;
    color: #6c757d;
  }

  .temp,
  .humidity,
  .wind {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #6c757d;

    img {
      margin-left: 0.5rem;
    }
  }

  .weatherIcon {
    margin: 0.5rem 0;
    img {
      width: 50px;
      height: 50px;
    }
  }
}
